# Python
__pycache__/
*.py[cod]
*.pyd
*.so
.Python
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml

# Virtual environments
venv/
.venv/
ENV/
env/

# OS / Editor
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
.vscode/
*.swp

# Secrets
.env
.env.*

# Logs
*.log

# Frontend deps (если появятся)
node_modules/

# Локальный набор данных (не коммитить и не пушить на GitHub)
dataset/
runs/
railgallery_photos/
yolo-seg/
*.pt
*.pth
*.ckpt
*.onnx
*.engine
*.torchscript
*.tflite
*.pb
**/weights/
wandb/
mlruns/
*.zip
*.rar
